body {
    background-color: var(--secondary-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_header-top {
    width: 100%;
    border-top: solid 30px var(--primary-color);
    margin-bottom: 32px;
}

.banner_header-bottom {
    width: 795px;
    border-top: solid 4px var(--primary-color);
    margin-bottom: 56px;
}

header img {
    width: 100%;
}

.presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
}

.presentation p{
    width: 70%;
    text-align: justify;
    text-align: center;
    color: var(--white-color);
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 56px;
}

.map address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;

}

.picture .text-preset-2 {
    background-color: var(--primary-color);
    height: 123px;
    padding: 16px;
    margin-bottom: 48px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.picture img {
    border-radius: 10px;
}

footer {
    height: 130px;
    padding: 16px 0 16px 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} 

.banner_footer-top {
    width: 100%;
    border-top: solid 1px var(--third-color);
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 560px) {
    header {
        margin-bottom: 8px;
    }

    header .text-preset-1 {
        font-size: 48px;
    }

    header .text-preset-2 {
        text-align: center;
    }

    header .banner_header-bottom {
        display: none;
    }

    .map iframe {
        display: none;
    }

    .picture .text-preset-2 {
        border-radius: 0;
        text-align: center;
    }

    .picture img {
        display: none;
    }

        footer {
        height: 150px;
    }

    footer h4 {
        padding: 0 16px 0 16px;
        text-align: center;
    }
}