:root {
    --primary-color : #800020;
    --secondary-color : #2B2B2B;
    --third-color : #D4AF36;
    --white-color : #FAFAFA;
    --Grey-color : #4E4E4E;
}

.text-preset-1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--white-color);
    margin-bottom: 24px;
    text-align: center;
}

.text-preset-2 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--white-color);
    margin-bottom: 24px;
}

.text-preset-3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--white-color);
}

.text-preset-4 {
    font-family: "open-sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
}

.gold {
    color: var(--third-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

hr {
    border: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 48px;
    margin : 0 24px 0 24px;
    cursor: pointer;
}

@media (max-width: 560px) {
    .text-preset-1 {
        font-size: 66px;
    }

    .text-preset-2 {
        font-size: 32px;
    }

    .text-preset-3 {
        font-size: 40px;
    }

    .text-preset-4 {
        font-size: 16px;
    }
}