:root {
    --primary-color : #800020;
    --secondary-color : #2B2B2B;
    --Third-color : #D4AF36;
    --White-color : #FAFAFA;
    --Grey-color : #4E4E4E;
}

.text-preset-1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--White-color);
}

.text-preset-2 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--White-color);
}

.text-preset-3 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--White-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}